body{
  text-align: center;
  background-color: #ffffe6;
}
nav {
   height: 70px;
   line-height: 70px;
 }
 nav ul {
     list-style: none;
     width: 100%;
     text-align: right;
  }
  nav ul li {
  display: inline-block;
  font-size: 100%;
  margin-right: 0;
 }
h1{
  color: Tomato;
}
h3{
  color: #ff3399;
}
h4{
  color: #34568B;
}
h5{
  color:#88B04B;
}
th{
  text-align: #center;
}
